<!-- ============================================== FEEDBACK : START ============================================== -->
<div class="sidebar-widget outer-bottom-small wow fadeInUp">
    <h3 class="section-title">Ý KIẾN KHÁCH HÀNG </h3>

    <div class="sidebar-widget-body outer-top-xs">
        <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">

            <div class="item" style="float-left">
                <div class="main-block">
                    <div class="media text-center">
                        <div class="media-content">
                            <img src="~/Assets/images/avatar.jpg" width="100" />
                        </div>
                        <div class="content_test">
                            <p class="des_namepost title_font">THAI AN</p>
                            <p class="des_company">Copywriter</p>
                        </div>
                    </div>
                    <div class="content_test_top">
                        <p class="des_testimonial">
                            &OpenCurlyDoubleQuote;5* Chất lượng rất tốt, đã
                            mua nhiều và chưa bao giờ thất vọng&CloseCurlyDoubleQuote;
                        </p>
                    </div>
                </div>
            </div>

            <div class="item" style="float-left">
                <div class="main-block">
                    <div class="media text-center">
                        <div class="media-content">
                            <img src="~/Assets/images/avatar.jpg" width="100" />
                        </div>
                        <div class="content_test">
                            <p class="des_namepost title_font">DUC TOAN</p>
                            <p class="des_company">Copywriter</p>
                        </div>
                    </div>
                    <div class="content_test_top">
                        <p class="des_testimonial">
                            &OpenCurlyDoubleQuote;Một cuốn sách xuất hiện
                            đúng lúc và giúp tôi có cái nhìn rõ tổng quan hơn về công nghệ 4.0 đặc
                            biệt là công cụ IOT trong doanh nghiệp.&CloseCurlyDoubleQuote;
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.sidebar-widget-body -->

</div><!-- /.sidebar-widget -->
<!-- ============================================== FEEDBACK : END ============================================== -->